<div class="box">
  <!-- <div class="title">Other destinations</div> -->


  <div class="box-content">

    <div id="trip-list">

      <% @trips.each do |trip_result| %>
      <article class="trip-item trip-box">
        <a href="#" title="Title">
              <span class="trip-image">

                <span class="more">More</span>

                <%=image_tag("samples/pic2.jpg", width: '255', height: '419', alt: "Edit Entry") %>

              </span>  <!-- .trip-mage -->

            <span class="trip-tent">

              <span class="trip-title">
                <%= trip_result.try(:name) %>

              </span> <!-- .trip-title -->

              <span class="desc">
                <%= trip_result.try(:latitude) %>
                <%= trip_result.try(:longitude) %>
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                  <span class="distance car-distance">
                    <i></i>
                    255 Km
                  </span>
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
        </a>
      </article>  <!-- .trip-item -->
      <% end %>


    </div> <!-- trip-list -->

  </div> <!-- .box-content -->
</div> <!-- .box -->