<div class="box">
  <div class="title">Other destinations</div>
  <% Trip.feature_trips do |trip| %>

  <div class="box-content">

    <div id="trip-list">

      <article class="trip-item trip-box">
        <a href="#" title="Title">
              <span class="trip-image">

                <span class="more">More</span>

                <%= image_tag"pic1.jpg" %>

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Koenigssee Lake
                <%= trip.name %>

              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
                <%= trip.description %>
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
                <%= trip.id %>
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
        </a>
      </article>  <!-- .trip-item -->



    </div> <!-- trip-list -->

  </div> <!-- .box-content -->
</div> <!-- .box -->
<% end %>