<section class="filter-col fly-left">
  <!-- <div class="head">Refine search</div> -->
  <div class="box leftcol-break">
    <div class="title">From</div>

    <div class="box-content">
      <input type="text" value="Berlin" class="input size2 map" />

    </div> <!-- .box-content -->
  </div> <!-- .box -->


  <div class="box leftcol-break">
    <div class="title">I prefer to travel with:</div>

    <div class="box-content">
      <div class="trip-with trip-type options">
        <label class="styled" id="by_car">
          <input id="by_car" name="by_car" type="checkbox">
          <i></i><span>By car</span>
        </label>

        <label class="styled" id="by_bike">
          <input id="by_bike" name="by_bike" type="checkbox">
          <i></i><span>By bicycle</span>
        </label>

        <label class="styled" id="by_train">
          <input id="by_train" name="by_train" type="checkbox">
          <i></i><span>By train</span>
        </label>

        <label class="styled" id="by_bus">
          <input id="by_bus" name="by_bus" type="checkbox">
          <i></i><span>By buses</span>
        </label>

      </div>
    </div> <!-- .box-content -->
  </div> <!-- .box -->


  <div class="box leftcol-break">
    <div class="title">Distance from home:</div>

    <div class="box-content">
      <div class="trip-with trip-type options">

        <label class="styled" id="by_car">
          <input id="by_car" name="by_car" type="checkbox">
          <i></i><span>By car</span>
        </label>

      </div>
    </div> <!-- .box-content -->
  </div> <!-- .box -->


  <div class="box">
    <div class="title">Refine destination</div>

    <div class="box-content">
      <div class="trip-type options">
        <label class="styled" id="go_hike">
          <input id="go_hike" name="go_hike" type="checkbox">
          <i></i><span>Hiking</span>
        </label>

        <label class="styled" id="go_mountain">
          <input id="go_mountain" name="mountains" type="checkbox">
          <i></i><span>Mountains</span>
        </label>

        <label class="styled" id="go_lake">
          <input id="go_lake" name="lakes" type="checkbox">

          <i></i><span>Lakes, sea, waterfalls</span>
        </label>

        <label class="styled" id="go_castle">
          <input id="go_castle" name="castles" type="checkbox">

          <i></i><span>Castles</span>
        </label>

        <label class="styled" id="go_events">
          <input id="go_events" name="events" type="checkbox">

          <i></i><span>Festivals and Events</span>
        </label>

        <label class="styled" id="go_city">
          <input id="go_city" name="city" type="checkbox">
          <i></i><span>Cities</span>
        </label>

        <label class="styled" id="go_landscape">
          <input id="go_landscape" name="landscape" type="checkbox">
          <i></i><span>Sightseeing</span>
        </label>
      </div>
    </div>
  </div> <!-- .box -->

  <div class="box">
    <div class="title">Suggest destination</div>

    <div class="box-content">
      box content
    </div> <!-- .box-content -->
  </div> <!-- .box -->


</section>