<% @trips.each do |trip_result| %>
<div class="box featured-trip">
  <div class="box-content trip-box">

    <a href="#" title="#" class="trip-image">

              <span class="trip-title">
                <%= trip_result.title %>
                Bastei bridge
              </span> <!-- .trip-title -->

      <img src="/assets/samples/pic0.jpg" alt="ALT" height="200" />

    </a>  <!-- .trip-mage -->

    <div class="trip-tent">
      <div class="desc fly-left">
        <%= trip_result.description %>
        The Bastei Bridge is a sandstone walking bridge connecting rocky peaks above the Elbe River in Germany.
        The bridge is located in the Saxon Switzerland National Park in the Elbe Sandstone Mountains, very close
        to Saxon Switzerland. Known for its unusual, even bizarre rock formations, it is a mountainous region
        sought after over the years by artists, sports and nature enthusiasts.
      </div> <!-- .desc .fly-left -->

      <div class="meta stand-by">
        trip meta data
      </div> <!-- .meta stand-by -->

    </div> <!-- .trip-tent -->

  </div> <!-- .box-content -->
</div> <!-- .box -->
<% end %>
