
    <div class="box featured-trip">
      <div class="box-content trip-box">
        <h2>
        <a href="#" title="#" class="trip-image">
         <span class="trip-title">
                        ascaca

          </span> <!-- .trip-title -->


        </a>  <!-- .trip-mage -->
        </h2>
        <div class="trip-tent">
          <div class="desc fly-left">

            <span></span>

            <div class="meta stand-by">
              ascaca
            </div> <!-- .meta stand-by -->
            </div>
          </div> <!-- .trip-tent -->

        </div> <!-- .box-content -->
      </div> <!-- .box -->
