<% @trips.each do |trip_result| %>
    <div class="box featured-trip">
      <div class="box-content trip-box">
        <h2>
        <a href="#" title="#" class="trip-image">

         <span class="trip-title">
             <%= trip_result.try(:name) %>
             Bastei bridge
          </span> <!-- .trip-title -->
          <img src="/assets/samples/pic0.jpg" alt="ALT" />

        </a>  <!-- .trip-mage -->
        </h2>
        <div class="trip-tent">
          <div class="desc fly-left">

            <span>The Bastei Bridge is a sandstone walking bridge connecting rocky peaks above the Elbe River in Germany.
            The bridge is located in the Saxon Switzerland National Park in the Elbe Sandstone Mountains</span>

            <%= trip_result.try(:latitude) %>
            <%= trip_result.try(:longitude) %>
            <div class="meta stand-by">
            </div> <!-- .meta stand-by -->

          </div> <!-- .trip-tent -->

        </div> <!-- .box-content -->
      </div> <!-- .box -->
<% end %>
