<% @trips.each do |trip| %>
    <div class="box featured-trip">
      <div class="box-content trip-box">
        <h2>
        <a href="#" title="#" class="trip-image">
         <span class="trip-title">
            Time: <%= calculate_distance('CAR', get_location(params[:location]), trip.city).first %>,
            Distance: <%= calculate_distance('CAR', get_location(params[:location]), trip.city).last %>
          </span> <!-- .trip-title -->


        </a>  <!-- .trip-mage -->
        </h2>
        <div class="trip-tent">
          <div class="desc fly-left">
            <span>
              <%=trip.name%>
            </span>

            <div class="meta stand-by">
              <%=trip.description%>
            </div> <!-- .meta stand-by --
>            </div>
          </div> <!-- .trip-tent -->

        </div> <!-- .box-content -->
      </div> <!-- .box -->

<% end %>
