<div class="box addSugg">
  <div class="title">Suggest destination</div>

  <div class="box-content">


    <div class="suggestions-set">

    </div>

    <div class="add-new"><div id="add-new-dest" class="icons fui-plus">Add new</div>

      <div id="new-dest" class="new-dest">
        <div class="icons fui-cross" id="sd"></div>

        <input type="text" name="nume" value="" id="new-name" />
        <button type="submit" id="get-suggestion" class="icons fui-plus lg"></button>
      </div>

    </div>


  </div> <!-- .box-content -->
</div> <!-- .box -->