<div class="wrapBlock search-results">
  <h1>Distance here</h1>

<%= render 'refine_suggestion' %>

  <section class="content-col stand-by push-right">
    <div class="head">Results
      <h1>Trips to Berlin, Bastei Bridge and Munchen by car and train</h1>
    </div>

    <div class="box">

      <div class="box-content">

        <div id="trip-list" class="trip-list-block">

            <%= render 'search_result' %>

        </div> <!-- trip-list -->

        <div class="trips-pagination">

          <span class="pag">1</span>
          <a href="#" title="2" class="pag">2</a>
          <a href="#" title="3" class="pag">3</a>
          <a href="#" title="4" class="pag">4</a>
          <a href="#" title="5" class="pag">5</a>
          <a href="#" title="Next" class="pag">Next</a>

        </div> <!-- .trips-pagination -->

      </div> <!-- .box-content -->
    </div> <!-- .box -->

  </section>

</div> <!-- .wrapBlock search-results -->

