<div class="wrapBlock search-results">
  <h1>Distance here</h1>

<%= render 'refine_suggestion' %>

  <section class="content-col stand-by push-right">
    <div class="head">Results
      <h1>Trips to Berlin, Bastei Bridge and Munchen by car and train</h1>
    </div>

    <div class="box">

      <div class="box-content">

        <div id="trip-list" class="trip-list-block">

            <%= render 'search_result' %>

        </div> <!-- trip-list -->

      </div> <!-- .box-content -->
    </div> <!-- .box -->

  </section>

</div> <!-- .wrapBlock search-results -->

