<div class="wrapBlock search-results">



  <section class="filter-col fly-left">
    <div class="head">Refine search</div>
    <div class="box">
       <div class="title">Departure from</div>

        <div class="box-content">
          <input type="text" value="Berlin" class="input size2 map" />

        </div> <!-- .box-content -->
    </div> <!-- .box -->


    <div class="box">
      <div class="title">I prefer to travel with:</div>

      <div class="box-content">
        box content
      </div> <!-- .box-content -->
    </div> <!-- .box -->


    <div class="box">
      <div class="title">Refine destination</div>

      <div class="box-content">
        box content
      </div> <!-- .box-content -->
    </div> <!-- .box -->

    <div class="box">
      <div class="title">Suggest destination</div>

      <div class="box-content">
        box content
      </div> <!-- .box-content -->
    </div> <!-- .box -->


  </section>


  <section class="content-col stand-by">
    <div class="head">Search results
      <h1>Trips to #1 #2 #3 by #4, #5 and #6</h1>
    </div>
    <div class="box featured-trip">
      <div class="title">Top destination</div>

      <div class="box-content trip-box">

        <a href="#" title="#" class="trip-image">

              <span class="trip-title">
                Bastei bridge
              </span> <!-- .trip-title -->

          <img src="/assets/samples/pic0.jpg" alt="ALT" height="200" />

        </a>  <!-- .trip-mage -->

        <div class="trip-tent">
          <div class="desc fly-left">
            The Bastei Bridge is a sandstone walking bridge connecting rocky peaks above the Elbe River in Germany.
            The bridge is located in the Saxon Switzerland National Park in the Elbe Sandstone Mountains, very close
            to Saxon Switzerland. Known for its unusual, even bizarre rock formations, it is a mountainous region
            sought after over the years by artists, sports and nature enthusiasts.
          </div> <!-- .desc .fly-left -->

          <div class="meta stand-by">
             trip meta data
          </div> <!-- .meta stand-by -->

        </div> <!-- .trip-tent -->

      </div> <!-- .box-content -->
    </div> <!-- .box -->




    <div class="box">
      <div class="title">Other destinations</div>

      <div class="box-content">

        <div id="trip-list">

          <article class="trip-item trip-box">
           <a href="#" title="Title">
              <span class="trip-image">

                <span class="more">More</span>

                <img src="/assets/samples/pic1.jpg" alt="ALT" height="309" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Koenigssee Lake
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
           </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic2.jpg" alt="ALT" height="419" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Neuschwanstein Castle
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic3.jpg" alt="ALT" height="349" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Frankfurt am Main
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->


          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic4.jpg" alt="ALT" height="278" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Aachen Cathedral
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic5.jpg" alt="ALT" height="388" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Rugen Island
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic6.jpg" alt="ALT" height="309" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Munich
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

        </div> <!-- trip-list -->

      </div> <!-- .box-content -->
    </div> <!-- .box -->




  </section>

<%= @result.to_s %>

</div>