<div class="wrapBlock search-results">

<%= render 'refine_suggestion' %>

  <section class="content-col stand-by">
    <div class="head">Results
      <h1>Trips to Berlin, Bastei Bridge and Munchen by car and train</h1>
    </div>

    <%= render 'search_result' %>
    <%= render 'others_suggestion' %>

  </section>

<%= @result.to_s %>

</div> <!-- .wrapBlock search-results -->