<div class="wrapBlock search-results">

<%= render 'refine_suggestion' %>

  <section class="content-col stand-by">
    <div class="head">Search results
      <h1>Trips to #1 #2 #3 by #4, #5 and #6</h1>
    </div>

    <%= render 'search_result' %>
    <%= render 'others_suggestion' %>

  </section>

<%= @result.to_s %>

</div> <!-- .wrapBlock search-results -->