<div class="row">
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @feedbacks %>
    </div>
    <%= will_paginate @feedbacks, :container => false %>
  </div>
</div>