<section class="wideBlock addSugg hpFooterBlock">
  <div class="wrapBlock">
    <h3>Where would you like to travel?</h3>
    <h4>Suggest future destinations</h4>

    <a href="#" title="Chicago">Chicago</a>
    <a href="#" title="San Francisco">San Francisco</a>
    <a href="#" title="California">California</a>
    <a href="#" title="New York">New York</a>
    <a href="#" title="Canada">Canada</a>
    <a href="#" title="Mexico">Mexico</a>
    <a href="#" title="Brazil">Brazil</a>
    <a href="#" title="Argentina">Argentina</a>
    <a href="#" title="Peru">Peru</a>
    <a href="#" title="Hawaii">Hawaii</a>
    <a href="#" title="Bucharest">Bucharest</a>
    <a href="#" title="Tg. Mures">Tg. Mures</a>
    <a href="#" title="Hallstat">Hallstat</a>
    <a href="#" title="Austria">Austria</a>
    <a href="#" title="Italy">Italy</a>
    <a href="#" title="Switzerland">Switzerland</a>
    <a href="#" title="Zurich">Zurich</a>
    <a href="#" title="Berlin">Berlin</a>
    <a href="#" title="Just countries">Just countries</a>
    <a href="#" title="Germany">Germany</a>
    <a href="#" title="United Kingdom">United Kingdom</a>
    <a href="#" title="Norway">Norway</a>
    <a href="#" title="Sweden">Sweden</a>
    <a href="#" title="Spain">Spain</a>
  </div> <!-- .wrapBlock -->

</section>