<section class="wideBlock addSugg homepageSugg hpFooterBlock">
  <div class="wrapBlock">
    <h3>Where would you like to travel?</h3>
    <div class="subtitle">Suggest future destinations and we'll make sure we add them in our website</div>

    <div class="suggestions-set">
        <span title="Rome, Italy">Rome, Italy</span>
        <span title="Tenerife, Spain">Tenerife, Spain</span>
        <span title="Zurich, Switzerland">Zurich, Switzerland</span>
        <span title="Viena, Austria">Viena, Austria</span>
        <span title="Prague, Czech Republic">Prague, Czech Republic</span>
        <span title="London, UK">London, UK</span>
        <span title="Paris, France">Paris, France</span>
        <span title="Transilvania, Romania">Transilvania, Romania</span>
        <span title="Istanbul, Turkey">Istanbul, Turkey</span>
        <span title="Amsterdam, Netherlands">Amsterdam, Netherlands</span>
    </div>

    <div class="add-new"><div id="add-new-dest" class="icons fui-plus">Add your own</div>

      <div id="new-dest" class="new-dest">
        <div class="icons fui-cross" id="sd"></div>

            <input type="text" name="nume" value="" id="new-name" />
            <button type="submit" id="get-suggestion" class="icons fui-plus lg">Add</button>
      </div>

    </div>


  </div> <!-- .wrapBlock -->

</section>