<section class="wideBlock hpFooterBlock popular-destinations">
  <div class="wrapBlock">
    <h1>Popular destinations</h1>
    <div class="box" id="hp-trips">
      <div class="box-content">

        <div id="trip-list">

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">

                <span class="more">More</span>

                <img src="/assets/samples/pic1.jpg" alt="ALT" height="309" />


              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Koenigssee Lake
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic2.jpg" alt="ALT" height="419" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Neuschwanstein Castle
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic3.jpg" alt="ALT" height="349" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Frankfurt am Main
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->


          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic4.jpg" alt="ALT" height="278" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Aachen Cathedral
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic5.jpg" alt="ALT" height="388" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Rugen Island
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic6.jpg" alt="ALT" height="309" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Munich
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

        </div> <!-- trip-list -->

      </div> <!-- .box-content -->
    </div> <!-- .box -->
  </div> <!-- .wrapBlock -->
</section>