<section class="wideBlock collage staticHead">
  <div class="wrapBlock">
    <h1>About</h1>
    <div class="subtitle">Everything there is to know about wantatrip.com</div>

  </div> <!-- .wrapBlock -->

</section>


<ul class="tab-switch" id="tab-switch">
  <li><a href="javscript:;" id="what-is" title="What is wantatrip?">What is wantatrip?</a></li>
  <li><a href="javscript:;" id="how" title="How does it work?">How does it work?</a></li>
  <li><a href="javscript:;" id="with-you" title="How can you contribute?">How can you contribute?</a></li>
</ul>
<section class="wideBlock static-content tab-content" id="what-is">
  <div class="wrapBlock">
    <h2>What is wantatrip.com</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt aliquam mi eget rhoncus.
      Sed sollicitudin auctor pretium. In hac habitasse platea dictumst. Nullam eget sem accumsan, dapibus erat vel,
      sagittis sapien. Nullam urna purus, fringilla eu mattis vel, vulputate molestie odio.
      Maecenas semper elit ut ullamcorper convallis. In consectetur gravida nisi at egestas.
      Aliquam vehicula nisl ultrices magna imperdiet aliquet aliquam ut sapien. Nunc ut turpis quis lorem viverra faucibus.
      Nunc adipiscing vulputate elit, eu dictum enim. Donec sed eros erat.
    </p>
  </div> <!-- .wrapBlock -->
</section>


<section class="wideBlock static-content tab-content" id="how">
  <div class="wrapBlock">
    <h2>Where do we get our destinations from</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt aliquam mi eget rhoncus.
      Sed sollicitudin auctor pretium. In hac habitasse platea dictumst. Nullam eget sem accumsan, dapibus erat vel,
      sagittis sapien. Nullam urna purus, fringilla eu mattis vel, vulputate molestie odio.
      Maecenas semper elit ut ullamcorper convallis. In consectetur gravida nisi at egestas.
      Aliquam vehicula nisl ultrices magna imperdiet aliquet aliquam ut sapien. Nunc ut turpis quis lorem viverra faucibus.
      Nunc adipiscing vulputate elit, eu dictum enim. Donec sed eros erat.
    </p>
  </div> <!-- .wrapBlock -->
</section>

<section class="wideBlock static-content tab-content" id="with-you">
  <div class="wrapBlock">
    <h2>How can you contribute?</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt aliquam mi eget rhoncus.
      Sed sollicitudin auctor pretium. In hac habitasse platea dictumst. Nullam eget sem accumsan, dapibus erat vel,
      sagittis sapien. Nullam urna purus, fringilla eu mattis vel, vulputate molestie odio.
      Maecenas semper elit ut ullamcorper convallis. In consectetur gravida nisi at egestas.
      Aliquam vehicula nisl ultrices magna imperdiet aliquet aliquam ut sapien. Nunc ut turpis quis lorem viverra faucibus.
      Nunc adipiscing vulputate elit, eu dictum enim. Donec sed eros erat.
    </p>
  </div> <!-- .wrapBlock -->
</section>
