

<%= render "default/form" %>


<%= render "default/popular_destination" %>


<section class="wideBlock hpFooterBlock">
  <div class="wrapBlock">
    <h1>About our website</h1>
    <div class="subtitle">Find travel offers according to your activities</div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt aliquam mi eget rhoncus.
      Sed sollicitudin auctor pretium. In hac habitasse platea dictumst. Nullam eget sem accumsan, dapibus erat vel,
      sagittis sapien. Nullam urna purus, fringilla eu mattis vel, vulputate molestie odio.
      Maecenas semper elit ut ullamcorper convallis. In consectetur gravida nisi at egestas.
      Aliquam vehicula nisl ultrices magna imperdiet aliquet aliquam ut sapien. Nunc ut turpis quis lorem viverra faucibus.
      Nunc adipiscing vulputate elit, eu dictum enim. Donec sed eros erat.
    </p>
  </div> <!-- .wrapBlock -->
</section>

<%= render "default/footer" %>