
<%= form_tag  trips_path, method: :get, class: "demo" do %>
    <p>
      <%=text_field_tag :search, params[:query]%>
      <%= button_tag "Search", name: nil %>
    </p>
    <p><%= link_to "Advanced Search", new_default_path %></p>

<%end %>