<style>
 html, body {
     height: 100%;
 }
#topRightNav {
    display:  none;
}
header .Logo {
    float: none;
}
.homepage header .wrapBlock {
    text-align: center;
}
</style>
<div style="background: #1abc9c; color: white; text-align: center; height: 100%;">

<div class="slogan" style="height: 100%;">
  <div style="display: inline-block;">
    We will be online shortly.
  </div>
</div>

</div>