<%= page_heading "Sitemap" %>
<section class="wideBlock collage staticHead">
  <div class="wrapBlock">
    <h1>Sitemap</h1>

  </div> <!-- .wrapBlock -->

</section>

<section class="wideBlock static-content">
  <div class="wrapBlock">
    <h2>General access</h2>
    <ul>
      <li> <a href="{language}/homepage" title="Homepage">Homepage</a> </li>
      <li><a href="{language}/terms" title="Terms of use">Terms of use</a></li>
      <li><a href="{language}/privacy" title="Privacy">Privacy</a></li>
      <li><a href="{language}/sitemap" title="Sitemap">Sitemap</a></li>
    </ul>
  </div> <!-- .wrapBlock -->
</section>

<section class="wideBlock static-content">
  <div class="wrapBlock">
    <h2>Trips</h2>
    <ul>
      <li class="capital-letter">A</li>
      <li><a href="{language}/trip-name" title="Trip name">Trip name</a></li>
    </ul>
    <ul>
      <li class="capital-letter">B</li>
      <li><a href="{language}/trip-name" title="Trip name">Trip name</a></li>
    </ul>
    <ul>
      <li class="capital-letter">C</li>
      <li><a href="{language}/trip-name" title="Trip name">Trip name</a></li>
    </ul>
  </div> <!-- .wrapBlock -->
</section>