<footer id="Footer">
  <div class="wrapBlock">

      <div class="fcol newsletter-box">
        <h3>Sign-up for news. No spam, no ads, just travel.</h3>


            <div class="input flashy center-block iblock">
            <input name="name" type="text" class="input" placeholder="@ who?" size="70" />

                <div class="switcher">
                  <span class="icons">Preferences <span id="result"></span></span>
                  <div class="selector">
                      <label><input type="checkbox" /> English</label>
                      <label><input type="checkbox" /> Deutsch</label>
                  </div>
                </div>

                <button class="icons fui-check button lb" type="submit">Subscribe</button>
          </div> <!-- .input flashy -->

      </div>



      <div class="fcol center">
        <a href="#" title="#">About</a> &nbsp;&bull;&nbsp;
        <a href="#" title="#">Join us</a> &nbsp;&bull;&nbsp;
        <a href="#" title="#">Contact us</a> &nbsp;&bull;&nbsp;
        <a href="#" title="#">Terms & conditions</a> &nbsp;&bull;&nbsp;
        <a href="#" title="Privacy Policy">Privacy Policy</a>  &nbsp;&bull;&nbsp;
        <a href="#" title="Sitemap">Sitemap</a>

      </div>

      <div class="fcol center socials">

        <a href="#" title="Facebook" class="fb">Facebook</a>
        <a href="#" title="Twitter" class="tw">Twitter</a>
        <a href="#" title="Google +" class="g">Google +</a>
        <a href="#" title="Pinterest" class="pin">Pinterest</a>
        <a href="#" title="RSS" class="rss">RSS</a>
      </div>

      <div class="center copy">
        &copy; 2013 Wantatrip - All rights reserved.
      </div> <!-- .row -->

  </div> <!-- .wrapBlock -->

</footer>

<div class="debug-console"><%= debug(params) if Rails.env.development? %> <!-- Draga Claudiu, acesta este un mesaj de la Mos Craciun, ce-ai vrea sa primesti anul acesta? --></div>