<footer id="Footer">
  <div class="wrapBlock">
    <div class="fly-left">
    <div class="row">

          <a href="#" title="#">About</a>
          <a href="#" title="#">Join us</a>
          <a href="#" title="#">Contact us</a>
          <a href="#" title="#">Terms & conditions</a>

    </div>
    <div class="row">
      Follow us on:

      <a href="#" title="Facebook">Facebook</a>
      <a href="#" title="Twitter">Twitter</a>
      <a href="#" title="Google +">Google +</a>
      <a href="#" title="Pinterest">Pinterest</a>
      <a href="#" title="RSS">RSS</a>
    </div>

    <div class="row">
      &copy; 2013 Wantatrip - All rights reserved.
    </div> <!-- .row -->
    </div> <!-- .fly-left -->

    <div class="fly-right">

      <div class="row">
        <h3>Sign-up for news</h3>
        <input name="name" type="text" />
        <p>
          <label><input type="checkbox" /> English</label></p>
        <p>
          <label><input type="checkbox" /> Deutch</label></p>
      </div>

    </div> <!-- .fly-right -->

  </div> <!-- .wrapBlock -->
</footer>

<div><%= debug(params) if Rails.env.development? %> <!-- Draga Claudiu, acesta este un mesaj de la Mos Craciun, ce-ai vrea sa primesti anul acesta? --></div>