<header id="Header">

        <div class="wrapBlock">

            <div class="Logo">
                <a href="/" title="Wantatrip">want<span>a</span><strong>trip</strong></a>
            </div>

                <nav id="topRightNav">
                    <a href="/about" title="About">About</a>
                    <a href="#" title="Feedback" class="modal-trigger" id="show-feedback">Feedback</a>

                    <div class="languageSelector">
                        <span class="currentLanguage langEn"></span>
                            <%= link_to_unless_current "DE", locale: "de" %>
                            <%= link_to_unless_current "EN", locale: "en" %>
                    </div>


                    <div class="wat-modal" id="wat-feedback">
                      <div class="title">
                        Feedback

                        <div class="icons fui-cross close"></div>

                      </div>

                      <p>Let us know what you think. Feel free to send feedback about improvements, suggestions or website problems. We appreciate it.
                      <br />
                      <span>"Wantatrip Team"</span>
                      </p>
                      <form action="" method="GET" id="feedback-form">
                          <p><input type="text" name="your_name" class="input size2" placeholder="Your name (*)" /></p>
                          <p><input type="text" name="your_name" class="input size2" placeholder="Your email" />
                            <small>Enter in case your message requires an answer</small>
                          </p>
                          <p><textarea cols="5" rows="4" class="input size2" name="message" data-validation="required" data-validation-error-msg="Please enter your feedback" ></textarea></p>
                          <input class="submit-go rsmaller" name="commit" type="submit" value="Submit">
                      </form>
                    </div>

                </nav>

        </div>

</header>