<header id="Header">

        <div class="wrapBlock">

            <div class="Logo">
                <a href="#" title="Homepage">want<span>a</span><strong>trip</strong></a>
            </div>

                <nav id="topRightNav">
                    <a href="#" title="About">About</a>
                    <a href="#" title="Destinations">Destinations</a>
                    <a href="#" title="Add destination">Add destination</a>

                    <div class="Separator">|</div>

                    <div class="languageSelector">
                        <span class="currentLanguage langEn"></span>
                            <!--<a href="#" title="Sprache Deutch?">DE</a>-->
                            <!--<a href="#" title="Sprache Deutch?">EN</a>-->
                      <%= link_to_unless_current "DE", locale: "de" %>
                      <%= link_to_unless_current "EN", locale: "en" %>
                    </div>

                </nav>

        </div>

</header>