<header id="Header">

    <a href="#" title="Homepage">Home</a>

        <div class="wrapBlock">

            <div class="Logo">
                <a href="#" title="Homepage">want<span>a</span><strong>trip</strong></a>
            </div>

                <nav id="topRightNav">
                    <a href="#" title="About">About</a>
                    <a href="#" title="Destinations">Destinations</a>
                    <a href="#" title="Add destination">Add destination</a>

                    <div class="Separator">|</div>

                    <div class="languageSelector">
                        <span class="currentLanguage langEn"></span>
                            <a href="#" title="Sprache Deutch?">DE</a>
                    </div>

                </nav>

        </div>

</header>