/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,800); */

/* Color pallete  */
TURQUOISE { color: #1ABC9C }
GREEN SEA { color: #16A085 }
EMERALD { color: #2ECC71 }
NEPHRITIS { color: #27AE60 }
PETER RIVER { color: #3498DB }
BELIZE HOLE { color: #2980B9 }
AMETHYST { color: #9B59B6 }
WISTERIA { color: #8E44AD }
WET ASPHALT { color: #34495E }
MIDNIGHT BLUE { color: #2C3E50 }
SUN FLOWER { color: #F1C40F }
ORANGE { color: #F39C12 }
CARROT { color: #E67E22 }
PUMPKIN  { color: #D35400 }
ALIZARIN { color: #E74C3C }
POMEGRANATE { color: #C0392B }
CLOUDS { color: #ECF0F1 }
SILVER { color: #BDC3C7 }
CONCRETE { color: #95A5A6 }
ASBESTOS { color: #7F8C8D }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  background-color: #539bff;
  color: white;
}

/* Sizes */
$wideBlock: 1000px;

/* Text */
$smallNote: 10px;
$textSize: 12px;
$forUpper: 13px;
$tileTitle: 14px;
$featTitleSize: 16px;
$head: 17px;
$subHeadline: 24px;
$h1: 32px;
$headlineSize: 60px;

/* Colors */
$link: #f4f4e6;
$linkOnBlackHover: white;
$backGreen: #96ae22;
$titleGrey: #6a6a6a;
$textColor: #848484;

/* Icons */
$hike: #1ABC9C;
  $hike_rgba: rgba(26,188,156,1);
$mountain: #7199cc;
  $mountain_rgba: rgba(113,153,204,1);
$lakes: #3498db;
  $lakes_rgba: rgba(52,152,219,1);
$castles: #cc8267;
  $castles_rgba: rgba(204,130,103,1);
$festivals: #F1C40F;
  $festivals_rgba: rgba(241,196,15,1);
$cities: #2cadc7;
  $cities_rgba: rgba(44,173,199,1);
$sightseeing: #cfc8c0;
  $sightseeing_rgba: rgba(207,200,192,1);

/* Fonts */

$regular: 'bariol_regularregular';
$bold: 'bariol_boldbold';
$thin: 'bariolthin';
$light: 'bariol_lightlight';

.trip-sprite {
  background-image: image-url("var/trip-types.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $regular;
}
h1 {
  font-size: $h1;
}
.icons {
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

body {
  background: rgba(101, 150, 212, 0.05);
  -webkit-font-smoothing: antialiased;
  padding-top: 54px;
  font-family: $regular;
  line-height: 1.4;
  font-size: $textSize;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2980b9;
}
p {
  font-size: 15px;
  line-height: 1.65;
}
.wrapBlock {
  margin: 0 auto;
  width: $wideBlock;
  display: block;
  position: relative;
}
/* Fix it */
html, body {
  height: 100%;
}

#wat-wrap {
  min-height: 100%;
}

#wat-main {
  overflow: auto;
  padding-bottom: 343px;
}

#wat-footer {
  position: relative;
  margin-top: -303px;
  height: 303px;
  clear: both;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/* Titles */
.head {
  font-size: $head;
  font-family: $regular;
  color: $titleGrey;
  padding-bottom: 10px;
}
.box {
  .title {
    font-family: $regular;
    font-size: $smallNote;
    color: $titleGrey;
    padding-bottom: 10px;
  }
}
.subtitle {
  padding-bottom: 35px;
  font-family: $light;
  padding-top: 5px;
  font-size: 20px;
}
/* Positioning */
.fly-left {
  float: left;
}
.fly-right {
  float: right;
}
.center-block {
  margin: 0 auto;
}
.center {
  text-align: center;
}
.iblock {
  display: inline-block;
}
.stand-by {
  float: none;
  margin-left: 190px;
}
/* Header */
header {
  /* background: image-url("tr.png"); */
  background: #2c3e50; /* #47D9BF #F2D03B #00A1D9 #003056 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 985;
  height: 43px;

  * {
    display: inline;
  }

  .Logo {
    font-size: 24px;
    /* background: rgba(255, 255, 255, .1); */
    float: left;
    margin-top: 0;

    a {
      display: block;
      font-family: $bold;
      padding: 5px 11px 5px 0;
      color: $linkOnBlackHover;
      text-decoration: none;

      span {
        color: #2ECC71;
      }

    }
  }

  nav {
    float: right;
    margin-top: 14px;

    &#topLeftNav {
      float: left;

      .wat-modal {
        left: 103px;
        right: auto;

        &:after {
          right: auto;
          left: 22px;
        }
      }

    }

    a {
      font-size: $forUpper;
      font-family: $bold;
      margin-left: 10px;
      color: white;
      padding: 5px;

      &:hover {
        text-decoration: none;
        color: white;
      }

    }

  }

}

/* input */
.input {
  background: white;
  border: 0;
  outline: none;
  border: 1px solid #DBDBDB;
  padding: 7px 10px;
  font-size: 14px;
  font-family: $regular;
  font-size: $tileTitle;
  color: $titleGrey;
  border-radius: 3px;

  &:focus {
    border-color: #2ECC71;
  }

  &.size1 {
    width: 200px;
  }
  &.size2 {
    width: 99%;
  }
  &.map {
    background: image-url("map-pin.svg") 8px 50% no-repeat transparent;
    text-indent: 21px;
  }
  &.flashy {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(90, 90, 90, 0.1);
    padding: 8px 14px;
    color: #333;
    border: 0;
  }
}

.button {
  border: 0;
  padding: 4px 10px;
  border-radius: 4px;
  color: white;
  outline: none;

  &.lg {
    background: #47d9bf;
  }
  &.lb {
    background: #00A1D9;
  }

}

.submit-go {
  outline: none;
  border: 0;
  border-bottom: 1px solid #030300;
  border-radius: 3px;
  font-size: 20px;
  background: #1abc9c;
  padding: 13px 40px;
  border: 0;
  margin: 30px 0 0;
  color: white;
  font-family: $bold;
  min-width: 280px;
  min-height: 50px;
  -webkit-box-shadow: 0 5px #0EA284;
  -moz-box-shadow: 0 5px #0EA284;
  box-shadow: 0 5px #0EA284;

  /*
  outline: none;
  border-bottom: 1px solid #030300;
  border-radius: 3px;
  font-size: 20px;
  background: rgba(255,255,255, .25);
  padding: 13px 40px;
  border: 2px solid white;
  margin: 30px 0 0;
  color: white;
  font-family: "bariol_boldbold";
  min-width: 280px;
  min-height: 50px;
  -webkit-box-shadow: none;
  -moz-box-shadow: 0 5px #0EA284;
  box-shadow: none;
  */
  &:active {
    margin-top: 34px;
    -webkit-box-shadow: 0 2px #115a93;
    -moz-box-shadow: 0 2px #115a93;
    box-shadow: 0 2px #115a93;
  }

  &.loading {
     background-image: image-url("loading.gif");
  }
  &.rsize {
    font-family: $regular;
    color: #666;
    min-width: 0;
    padding: 5px 25px;
    font-size: 15px;
    min-height: 0;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid #bbb;
    margin-top: 0;

    &:hover {
    }

    &:active {
      position: relative;
      top: 1px;
      border-color: #333;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

  }

  &.rsmaller {
    width: 99%;
    min-width: 0;
    padding: 5px 10px;
    min-height: 0;
    position: relative;
    margin-top: 0px;
    font-size: 17px;
    margin-bottom: 15px;

    &.faded {
      font-family: "bariol_regularregular";
      width: 45%;
      min-width: 0;
      padding: 3px 5px;
      min-height: 0;
      position: relative;
      font-size: 13px;
      margin-bottom: 3px;
      margin-top: 10px;
      color: rgb(83, 83, 83);
      background: #fff;
      border: 1px solid #ddd;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;

      &:active {
        border: 1px solid #ccc;
      }

    }

    &:active {
      position: relative;
      top: 3px;
    }

  }

}
/* common box */
.box {
  margin-bottom: 20px;
}
.trip-box {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(90,90,90,.2);
  /* @include box-shadow(0 2px 5px rgba(90,90,90,.2)); */
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
}
#hp-trips {
  padding-top: 40px;
  width: 820px;
  margin: 0 auto;
  padding-left: 15px;

  .trip-tent {
    padding-right: 20px;
  }
  /*
  .trip-item {
    width: 325px;
  }
  */
}

.trip-item {
  width: 255px;
  background: #f8f8f8;

  * {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 10.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  a {
    padding-bottom: 110px;

    .more {
      background: rgba(23, 194, 119, 0.7);
      background-image: image-url("observe.svg");
      background-position: 50% 30px;
      background-repeat: no-repeat;
      padding-top: 60px;
      color: #fff;
      width: 100px;
      height: 100px;
      opacity: 0;
      border-radius: 50% 50%;
      display: block;

      font-size: 11px;
      text-align: center;
      position: absolute;
      top: 50%;
      margin-top: -85px;
      left: 50%;
      margin-left: -50px;
      z-index: 90;

    }

    .fader {
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjc5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.79) 60%, rgba(255,255,255,1) 76%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0.79)), color-stop(76%,rgba(255,255,255,1)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.79) 60%,rgba(255,255,255,1) 76%);
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.79) 60%,rgba(255,255,255,1) 76%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.79) 60%,rgba(255,255,255,1) 76%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.79) 60%,rgba(255,255,255,1) 76%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
      height: 30px;
      position: absolute;
      z-index: 900;
      width: 100%;
      bottom: 43px;
      left: 0;
      opacity: 1;
    }

    span {
      display: block;
    }
    .desc {
      height: 36px;
      overflow: hidden;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    img {
      margin: 0 auto;
      width: 255px;
    }

    &:hover {
      text-decoration: none;

      .more {
        opacity: 1;
      }

      img {
        opacity: .7;
      }

    }

    &:hover {
      .desc {
        height: 80px;
      }
      .fader {
        opacity: 0;
      }
    }

  }



  img, a {
    display: block;
  }
  .trip-image {
    position: relative;
    min-height: 100px;
    background: #333;
  }

  .trip-title {
    color: black;
    z-index: 9000;
    position: relative;
    margin-top: 0;
    padding: 0 0 10px;
    line-height: 1.2;

    font-family: $bold;
    font-size: $head;

    /* @include background-image(linear-gradient(to top, #000, rgba(0,0,0,0)));
    background-color: rgba(16,19,22,0);
    background-image: -webkit-linear-gradient(bottom, #181818, rgba(0,0,0,0));
    background-image: -moz-linear-gradient(bottom, #181818, rgba(0,0,0,0));
    background-image: -o-linear-gradient(bottom, #181818, rgba(0,0,0,0));
    background-image: linear-gradient(to top, #181818, rgba(0,0,0,0));
    */
  }

  .meta {
    margin: 0;
    padding: 12px 15px 0;
    border-top: 1px solid #eee;
    display: block;
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    text-align:  left;

    .distance {

      display: inline-block;
      width: auto;
      padding-right: 25px;

      i {
        background-image: image-url("var/trip-types.png");
        background-repeat: no-repeat;
        width: 23px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto 3px;
      }

      &.car-distance {
        i {
          background-position: -50px 1px;
        }
      }
      &.time {
        i {
          background-position: -50px -20px;
        }
      }
    }

    .distance + .distance {
      padding-right: 0;
    }

  }
}

.leftcol-break {
  position: relative;
  border-radius: 5px;
  margin: 0 -15px 15px;
  padding: 15px 15px 0;
  background: #fff;
  box-shadow: 0 1px 2px rgba(90, 90, 90, 0.1);

  .box-content {
    padding-bottom: 15px;
  }
}

.table {
  display: table;
  width: 100%;

  .col {
    display:  table-cell;
  }

}

/* Socials */
.socials a {
  margin: 0 5px 0 0;
  vertical-align: middle;
  text-indent: -9999px;
  background: url(/assets/socials.png);
  display: inline-block;
  width: 28px;
  height: 31px;

  &.fb {

    &:hover {
      background-position: -28px 0;
    }

  }
  &.tw {
    background-position: 0 -32px;

    &:hover {
      background-position: -28px -32px;
    }

  }
  &.g {
    background-position: 0 -64px;

    &:hover {
      background-position: -28px -64px;
    }

  }
  &.pin {
    background-position: 0 -95px;

    &:hover {
      background-position: -28px -95px;
    }

  }
  &.rss {
    background-position: 0 -127px;

    &:hover {
      background-position: -28px -127px;
    }

  }
}
.wat-modal {
  opacity: 0;
  display: none;
  right: 36px;
  top: 35px;
  z-index: 900102;
  position: absolute;
  width: 290px;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.14);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,.14);
  box-shadow: 0 5px 5px rgba(0,0,0,.14);
  font-size: 12px;

   &#wat-menu {
     right: 16px;
     width: auto;

     li {
       display: block;
       padding: 5px 10px;

       &.wat-separator {
        padding: 12px 10px;
         color: #999;
       }

       a {
         color: #333;
         font-size: 14px;
         display:  block;
          padding: 0;
         margin: 0
       }



     }

   }

  &:after {
    bottom: 100%;
    right: 8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
   }

    /* No location modal */
    &.no-location-modal {
      margin: 0;
      opacity: 1;
      top: 89px;
      background: #2ECC71;
      left: 0;
      width: 190px;
      box-shadow: 0 1px 2px rgba(90, 90, 90, 0.1);
      padding-bottom: 10px;
      color: white;

      &:after {
        border-bottom-color: #2ECC71;
        right: auto;
        left: 50%;
        margin-left: -8px;
      }

      .title {
        color: white;
      }

    }

  .title {
    font-family: $bold;
    display: block;
    font-size: 14px;
    padding-bottom: 15px;
    position: relative;
  }
  p {
    display: block;
    font-size: 13px;
    padding-bottom: 15px;

    small {
      color: #999;
      padding: 0 5px;
    }

  }
  .close {
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
  }

}

.with-pointer:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border: 9px solid white;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  left: 19px;
  top: -17px;
  margin-left: 10px;
  z-index: 9800000;
}







/* Debug console - to be removed */

.debug-console {
  position: fixed;
  background: rgba(0, 0, 0, .8);
  padding: 20px;
  width: 200px;
  height: auto;
  max-height: 50%;
  overflow: auto;
  opacity: .2;
  color: white;
  top: 100px;
  left: -180px;
  z-index: 980800000;
  border-radius: 0 5px 5px 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  pre {
    background: none;
    border: 0;
    color: white;

  }

}
.debug-console:hover {
  opacity: .9;
  left: 0;
}

.overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 980;
  opacity: .8;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/* Pagination */
.trips-pagination {

  padding: 20px 0;
  text-align: right;

  * {
    padding: 7px 15px;
    box-shadow: 0 2px 3px rgba(90, 90, 90, 0.2);
    border-radius: 2px;
    display: inline-block;
    margin-right: 5px;
    color: #999;
  }
  a:hover {
    background: #fff;
    text-decoration: none;
  }
  em {
    color: #333;
    font-family: "bariol_boldbold";
    background-color: #fff;
    font-style: normal;
  }
  .disabled {
    display: none;
  }
}

.push-right {
  position: relative;
  left: 20px;
}


