@import "constants";

body.homepage,
body.wat-static {
  padding-top: 0;
}
.homepage header,
.wat-static header {
  /* background: rgba(0, 0, 0, .5); */
  background: transparent;
  position: absolute;

    .Logo a {
      padding: 5px 0;
    }
}
.wat-static header {
  .wrapBlock {
    padding: 5px 20px;
    width: 100%;
  }
  nav#topLeftNav {
    margin-top: 13px;
    .wat-modal {
      left: 137px;
    }
  }

}

.adpic-cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  @include background-image(linear-gradient(bottom, rgba(0, 0, 0, 0.6) 39%, rgba(0, 0, 0, .3) 100%));
}

.homepageEngine {
  background: image-url("backgrounds/the_bridge.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
  max-height: 830px;
  min-height: 750px;
  position: relative;

  .adpic-cover {
    @include background-image(linear-gradient(bottom, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.4) 34.49%, rgba(0, 0, 0, 0.5) 64.76%, rgba(0, 0, 0, 0) 100%));
  }

  .adPic {
    height: 100%;
    position: relative;
    z-index: 9;
  }

  .scrollMore {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    left: 0;
    width: 100%;
    cursor: pointer;
    opacity: .3;
    text-align: center;
    z-index: 10;

    img {
      cursor: pointer;
    }
  }

}
.slogan {
  font-family: $regular;
  color: $linkOnBlackHover;
  font-size: $headlineSize;
  text-align: center;
  letter-spacing:  -1px;
  padding-top: 110px;
  line-height: 1;

  .subSlogan {
    font-size: $subHeadline;
    font-family: $regular;
    width: 100%;
    margin: 0 auto 25px;
    padding-top: 15px;
    line-height: 1;
  }

}

/* Search engine */

#Search {
  position: relative;
  text-align: center;
  top: 0;
  padding: 50px 0;
  width: 100%;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .searchBlock {
    padding: 0 40px 40px;

    .sbTitle {
      font-size: 12px;
      color: #fff;
      padding-bottom: 10px;
    }

  }

  .count {
    padding-right: 30px;
    position: relative;
    float: left;
    height: 54px;

    img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  small {
    font-family: $light;
    display: block;
    font-size: 11px;
    padding: 7px 0 0;
    color: white;
    width: 85%;
    margin: 0 auto;
  }

  label.styled {
    @include border-radius(50%);
    display: inline-block;
    background-color: rgba(255,255,255, 0.10) !important;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF);
    zoom: 1;
    background-position: 50% 50%;
    background-repeat: no-repeat !important;
    width: 115px;
    height: 115px;
    margin: 0 15px 35px;
    position: relative;
    overflow: visible;
    border: 2px solid rgba(255,255,255, 0);
    font-family: $regular;
    @include single-transition(background-color, 0.2s, ease-in-out);

    span {
      line-height: 1.3;
      text-align: center;
      width: 120px;
      color: white;
      display: block;
      font-size: 18px;
      position: absolute;
      top: 120px;
      height: 28px;
      text-indent: -3px;

      span {
        text-align: center;
        top: 0;
        position: relative;
        display: table-cell;
        width: 120px;
        height: 28px;
        vertical-align: middle;
      }

    }

    &#go_hike {
      background-image: image-url("var/hiking@2x.png");
      background-size: 60px;
    }
    &#go_mountain {
      background-image: image-url("var/mountains@2x.png");
      background-size: 60px;

      i {
        position: absolute;
        width: 8px;
        height: 21px;
        background: image-url("point-right.png");
        left: -22px;
        top: 50px;
        display: none;
      }

    }
    &#go_lake {
      background-image: image-url("var/water@2x.png");
      background-size: 60px;
    }
    &#go_culture {
      background-image: image-url("var/culture@2x.png");
      background-size: 60px;
    }
    &#go_castle {
      background-image: image-url("var/castles@2x.png");
      background-size: 60px;
    }
    &#go_city {
      background-image: image-url("var/cities@2x.png");
      background-size: 60px;
    }

    &.styled-on {
      opacity: 1;
      background-color: rgba(26, 188, 156, .2) !important;
      background: transparent;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#331ABC9C,endColorstr=#331ABC9C)"; /* IE8 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#331ABC9C,endColorstr=#331ABC9C);   /* IE6 & 7 */
      zoom: 1;
      border-color: $hike;
      position: relative;
      background-position: 50% 50%;

      &:after {
        font-family: FontAwesome;
        font-size: 18px;
        content: $fa-var-check;
        background-color: $hike;
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        padding: 5px;
        @include border-radius(50%);
      }

      span {
        font-family: $bold;
      }
    }
  }

   .tinput {
     width: 265px;
     text-align: left;
     border-bottom-color: white;
     font: 23px/1 $regular;
     padding: 12px 10px 12px 35px;
     color: white;
     border: 1px solid white;
     background-color: rgba(255, 255, 255, .3);

     .phc {
       font-weight: 300;
       color: white;
       opacity: .5;
     }

     &::-webkit-input-placeholder {
       font-weight: 300;
       color: white;
       opacity: .5;
     }

     &:-moz-placeholder {
       font-weight: 300;
       color: white;
       opacity: .5;
     }

     &::-moz-placeholder {
       font-weight: 300;
       color: white;
       opacity: .5;
     }

     &:-ms-input-placeholder {
       font-weight: 300;
       color: white;
       opacity: .5;
     }

     &:focus {
        outline: none;

     }
   }

}

/* Style label */
label.styled {
  line-height: 1;
  display: inline-block;
  cursor: pointer;

  input {
    left: -9999px;
    position: absolute;
  }
}


.hpFooterBlock {
  text-align: center;
  padding: 0;

  &.tutorialBlock {
    overflow: hidden;
    a {
      color: #666;
      text-decoration: none;
    }
  }

  h1, h3, .wat-title {
    padding-top: 40px;
    font-size: 40px;
    color: #2E383C;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    padding: 0;
    font-size: $tileTitle;
    color: #333;
    line-height: 1.7;
  }

  &.popular-destinations {
    padding-bottom: 0;
  }

}

/* Footer */
#Footer {
  clear: both;
  /* background: #eef1f3; */
  padding: 40px 20px;
  overflow: hidden;
  font-size: 14px;
  color: #666;

  .wrapBlock {
    border-top: 1px solid #ddd;
    padding-top: 45px;

    &:before {
      font-size: 24px;
      display: block;
      position: absolute;
      top: -13px;
      left: 50%;
      margin-left: -30px;
      background: #f7fafc;
      padding: 0 15px;
    }
  }
  a {
    color: #2c3e50;
    &:hover {
      text-decoration: none;
      color: #2c3e50;
    }
  }

  h3 {
    font-family: $bold;
    font-size: 16px;
    padding-bottom: 10px;
  }
  .fcol {
    padding-bottom: 5px;
    padding-top: 10px;
    font-family: $regular;

    h3 {
      font-size: 14px;
      display:  inline;
      padding-right: 8px;
    }

  }
  .copy {
    clear: both;
    img {
      vertical-align: middle;
    }
  }

  .newsletter-box {
    text-align: center;
    padding-bottom: 30px;

    .input * {
      vertical-align: middle;
    }

    h3 {
      display: block;
      padding-bottom: 10px;
    }

    input {
      border: 0;
    }

    button {
      @extend .button;
      font-size: 14px;
      padding: 8px 14px;
      margin: -5px -7px -5px 0px;

      &:before {
        padding-right: 5px;
      }
    }

    .switcher {
      padding: 0 10px;
      display: inline-block;
      position: relative;
      color: #999;
      font-size: 13px;
      cursor: pointer;

      &:hover {
        color: #333;
      }

      #result {
        color: #333;
      }

      .icons:after {
        padding-left: 8px;
        font-size: 14px;
        position: relative;
        top: 1px;
      }

      .selector {
        display: none;
        position: absolute;
      }

    }

  }

}


/* Trip page */
.trip-page {
  padding: 65px 0;
  .trip-item {
    width: 260px;
    padding-bottom: 0;
    margin-top: 10px;
    float: left;
    overflow: visible;
    .trip-image {
      height: 180px;
      display: block;
      overflow: hidden;
      img {
        position: absolute;
        left: 50%;
        margin-left: -160px;
        top: 50%;
        margin-top: -90px;
      }
    }
    a {
      padding: 0;
      img {
        width: auto;
        height: auto;
      }
    }
    .wat-devices {
      display: table;
      width: 100%;
      text-align: center;
      padding: 20px 0 15px;
      a {
        position: relative;
        &:hover {
          color: #1abc9c;
          img {
            @include opacity(1);
          }
        }
      }
      .img {
        @include border-radius(50%);
        overflow: hidden;

        padding: 0;
        width: 87px;
        height: 87px;
        display: inline-block;
        background: #f7fafc;
        img {
          width: 87px;
          height: 87px;
        }
      }
      .selected {
        &:after {
          font-family: FontAwesome;
          font-size: 13px;
          content: "\f00c";
          background-color: #1abc9c;
          position: absolute;
          right: 8px;
          top: 0;
          color: white;
          padding: 5px;
          @include border-radius(50%);
        }
        .img {

          background: #f7fafc;
        }
        span {
          color: #1abc9c;
        }
      }

      div {
        display: table-cell;
        width: 50%;
        span + span {
          font-family: $regular;
          padding: 8px 0;
        }
      }
    }
    .trip-tent {
      position: relative;
      display: block;
      padding: 0 15px 15px;
      overflow: visible;
    }
  }

  .title {

    div * {
      display: inline-block;
    }

    &:before {
      font-size: 25px;
      padding-right: 5px;
      color: #6e7e8d;
    }

    h1 {
      font-family: $thin;
      font-size: 55px;
      display: block;
      padding-bottom: 10px;
    }

    span {
      font-size: $featTitleSize;
      font-family: $regular;
      margin: 0 30px 0 0;
      position: relative;
      top: -2px;

      span {
        vertical-align: top;
        top: 0;
        margin-right: 10px;
        @extend .trip-sprite;
      }

      &.distance {
        span {
          background-position: -45px -137px;

        }
      }
      &.km {
        span {
          background-position: -47px -161px;
        }
      }
      &.capital {
        span {
          background-position: -91px -138px;
        }
      }
    }

  }
  .trip-data {
    position: relative;
    .title {
      color: white;
      padding: 30px 30px 50px;
    }
    .filter-col {
      background: #f8f8f8;

      .about-city {
        padding-top: 10px;

        span {
          font-size: 14px;
          padding-bottom: 20px;
          display: block;


          &:before {

            @extend .trip-sprite;
            width: 24px;
            height: 24px;
            content: " ";
            margin-right: 8px;
            position: relative;
            top: -1px;
            opacity: .7;
          }

          &.capital:before {
            background-position: -95px -97px;
          }
          &.area:before {
            background-position: -95px -48px;
            top: -2px;
          }
          &.population:before {
            background-position: -95px -72px;
          }
          &.local-time:before {
            background-position: -95px -24px;
          }
        }
      }

      .box {
        background: none;
        @include box-shadow(none);
      }

      a {
        margin: 0;
        display: block;
        font-size: 18px;
        padding: 10px 25px;
        position: relative;
        font-family: $light;

        &:hover {
          text-decoration: none;
          color: #111;
        }
        &:before {
          width: 23px;
          display: inline-block;
          text-align: center;
          margin-right: 5px;
        }
        &.selected {
          color: #111;
          border-radius: 0;
          font-family: $bold;
          &:before {

          }

        }

      }
    }

  }


  .trip-block {
    overflow: hidden;
    position: relative;
    /* box-shadow: 0 1px 2px rgba(90, 90, 90, 0.1); */
    min-height: 340px;

    padding: 13px 0 13px 30px;
    border-radius: 3px;
    margin-bottom: 30px;

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .scroller {
      position: relative;
    }

    h2 {
      font-size: 24px;
      padding-bottom: 20px;
    }

    .trip-section {
      padding: 15px 25px 15px 0;

      .section-content {
        padding-bottom: 40px;
      }

      h2 {
        font-family: $light;
        font-size: 32px;
      }
      h3 {
        font-family: $light;
        font-size: 18px;
        padding-bottom: 10px;
      }
      &#directions {
        position: relative;
      }

    }

  }

}

.trip-special {

  width: 100%;
  h3 {
    padding-left: 44px;
    padding-bottom: 10px;
  }
  .gallery-header {
    padding: 15px 10px 0;
  }
  .trip-special-block {
    position: relative;
    padding: 15px 0;
    display: block;
    font-size: 15px;
    color: #333;
    clear: both;
    &.wi-picture-o {
      padding-top: 20px;
      &:before {
        top: 20px;
      }
    }
    &:before {
      width: 40px;
      color: #2c3e50;
      position: absolute;
      left: 0;
      top: 15px;
      text-align: center;
      font-size: 18px;
      @include opacity(0.3);
    }
    &.meteo {
      line-height: 1;
      &:before {
        font-size: 35px;
        top: 17px;
      }
    }
    span {
      display: block;
      font-size: 13px;
      padding-left: 45px;
      padding-bottom: 8px;
      font-family: $light;
    }
  }
  ul {
    padding: 15px 15px 0;
    margin: 0 0 -3px;
    overflow: hidden;
    position: relative;
    text-align: left;
    left: -3px;
    li {
      display: inline-block;
      margin: 0 0px 2px 0px;
      padding: 0;
      &:hover {
        background: #fff;
      }
    }
  }

}

/* Covers */
.collage {
  background: image-url("destinations-wall.jpg") 50% 0 repeat fixed;
}

/* Static pages */
.staticHead {
  padding: 70px 0;
  text-align: center;
  margin-bottom: 40px;
  color: white;
  position: relative;

  h1 {
    font-size: 64px;
  }
  .subtitle {
    font-size: 24px;
    padding-top: 0;
  }
}

.static-content {
  text-align: left;
  padding-bottom: 50px;

  h2 {
    font-size: 24px;
    padding-bottom: 30px;
  }

}

/* Tabs */


.tab-switch {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  li {
    display: inline-block;

    &.active a {
      background: #f7fafc;
      color: black;
    }

  }
  a {
    display: inline-block;
    padding: 15px 0;
    background: rgba(73, 73, 73, 0.8);
    color: white;
    font-size: 16px;
    font-weight: 600;
    min-width: 250px;

    &:hover {
      text-decoration: underline;
      color: white;
    }

  }

}

/* Language selector */
.languageSelector {
  font-size: 11px;
  font-family: "bariol_boldbold";
  color: white;
}




#control {
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}
#map-canvas {
  width: 265px;
  height: 150px;
  margin: 25px -14px 0;
  padding: 0px;
}
.pin-wrapper {
  position: absolute;
}
#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}
/* Directions */
#directions-panel {
  height: 600px;
  width: 750px;
  overflow: auto;


  .adp-step,
  .adp-substep,
  .adp-placemark {
    border: 0;
    background: 0;
    padding: 15px;
    font-size: 16px;
    color: #666;
  }
  .adp-substep {
    border-top: 1px dotted #eee;
  }
  .adp b,
  .adp-list b {
    color: #333;
  }

}

#galleries {
  width: 100%;
  height: 255px;
  padding-bottom: 0;
  margin-top: 0;
  text-align: left;
  overflow: hidden;
  color: white;
  padding-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.trip-wrap {
  padding-bottom: 50px;
  margin-left: 290px;
  float: none;
}
.trip-wrap,
.trip-data {
  &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
}

.popup-menu {
  display: none;
}

.empty {
  text-align: left;
  font-family: $light;
  font-size: 24px;
  padding: 15px 0 60px;

  &:before {
    content: "⚠";
    font-size: 60px;
    float: left;
    margin-top: -8px;
    margin-right: 15px;
  }
}

/* Tutorial */
.wat-tutorial-holder {
  background: white;
  margin-top: -40px;
  padding: 50px 0 40px;

  #how & {
    background: none;
    text-align: center;

    li {
      .tut-top {
        font-size: 16px;
        font-family: $regular;
      }
      .tut-text {
        padding: 20px 10px 0;
      }
    }
  }

  .submit-go {
    &.rsmaller {
      &.faded {
        padding: 15px 60px;
        font-size: 20px;
        display: inline-block;
        width: auto;
        border-radius: 5px;
        margin: 30px 0;
        border: 1px solid #BEBEBE;
        position: relative;
        &:hover {
          text-decoration: none;
          background: #f8f8f8;
        }
      }
    }
  }
}
.wat-tutorial {
  display: table;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 1000px;
  padding: 30px 0;
  li {
    display: table-cell;
    padding: 0 20px;
    width: 30%;
    margin: 0 auto;
    .tut-top {
      font-size: 20px;
      padding-top: 30px;
      padding-bottom: 20px;
    }
    .tut-text {
      margin-top: -4px;
      padding: 20px 50px 0;
    }
    img {
      max-width: 100%;
    }
  }
}

#hp-trips {
  width: 1000px;
  margin: 40px auto 0;
  padding-left: 15px;
  position: relative;

  .trip-tent {
    padding-right: 20px;
    text-align: left;
  }
}

/* Sitemap */
.sitemap-table {
  display: table;
  li {
    padding: 0 100px 20px 0;
    overflow: hidden;
    .image {
      @include border-radius(50%);
      overflow: hidden;
      float: left;
      vertical-align: middle;
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }
    .title {
      font-size: 15px;
      font-family: $bold;
      padding-top: 9px;
      display: inline-block;
    }
    .trip-category {
      float: none;
      margin-left: 70px;
      font-size: 11px;
      display: block;
      a {
        color: #666;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.regular-links {
  li {
    font-size: 15px;
    padding-bottom: 10px;
  }
}

.wat-quotes {
  font-size: 30px;
  font-family: $light;
  line-height: 1.2;
  padding-bottom: 40px;
  &:before {
    font-size: 100px;
    content: "“";
    position: absolute;
    left: -30px;
    top: -20px;
  }
  &:after {
    line-height: 0;
    font-size: 100px;
    content: "”";
    vertical-align: bottom;
  }
}
.wat-sendto {
  position: relative;
  padding: 0 12px 12px;
  .wi-question {
    position: absolute;
    right: 13px;
    bottom: 65px;
    padding: 5px 12px;
    color: #ccc;
    background: #fff;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    border-left: 1px solid #eee;
    &:before {
      line-height: 20px;
      cursor: pointer;
    }
  }
  .wat-over {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background: rgba(255,255,255, 0.9);
    z-index: 980;
    @include border-radius(5px);
    .in {
      display: inline-block;
      height: 100%;
      width: 100%;
      line-height: 15em;
      .wi {
        background: #1abc9c;
        padding: 5px;
        font-size: 18px;
        @include border-radius(50%);
        vertical-align: middle;
        margin-right: 5px;
        color: white;
      }
    }
  }
  #wat-send-location {
    opacity: 1;
    display: none;
    right: auto;
    left: 240px;
    top: 135px;
    padding: 20px;
    p {
      padding-bottom: 0;
    }
    &:after {
      border: 0;
    }
  }
  .submit-go {
    min-width: 10px;
    min-height: 10px;
    font-size: 16px;
    font-family: $regular;
    width: 214px;
    margin-top: 10px;
  }
  .input {
    width: 152px;
    margin-top: 5px;
    padding-right: 50px;
  }
}
