@import 'constants.css.scss';

.search-results {
  padding-top: 0;
  border-top: 45px solid #eef1f3;
  margin-top: -11px !important;

  h1 {
    font-weight: 300;
    font-size: $smallNote;
    color: $titleGrey;
    paddding: 5px 0 0;
    line-height: 1;
    position: absolute;
    right: 20px;
    top: 6px;
  }

  .content-col {
    .head {
      padding-bottom: 30px;
      position: relative;
      color: #3F3F3F;
    }
    .title {
      color: #b8b8b8;
    }
  }

}
.filter-col {
  width: 190px;
  padding: 15px;
  margin-top: -50px;

  .head {
    padding-bottom: 30px;
    color: #3F3F3F;
  }

}
.filter-col + .content-col {
  margin-top: -34px;
}
.featured-trip {
  .trip-image {
    height: 200px;
    display: block;
    /* @include background-image(linear-gradient(to bottom, #000, rgba(0,0,0,0)));
    background-color: rgba(0,0,0,0);
    background-image: -webkit-linear-gradient(top, #000, rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top, #000, rgba(0,0,0,0));
    background-image: -o-linear-gradient(top, #000, rgba(0,0,0,0));
    background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0));
     */
    position: relative;

    span {
      color: $linkOnBlackHover;
      font-size: $featTitleSize;
      font-weight:  700;
      padding: 15px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, .35);
    }

  }
  .desc {
    width: 615px;
    border-right: 1px solid #efefef;
    padding-right: 15px;
  }
  .stand-by {
    margin-left: 635px;
  }
}
.trip-tent {
  padding: 15px;
  font-size: $textSize;
  line-height: 1.5;
  color: $textColor;
  overflow: hidden;
}

#trip-list {
  position: relative;
  padding: 0;
  margin: 0;
  height: auto;
}

.trip-type {
  label {
    display: block;
    font-weight: 300;
    padding: 7px 0;
    margin: 0 0 4px;

    > i {
      background-image: image-url("var/trip-sprite.svg");
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
    }
    i + span {
      vertical-align: middle;
      padding-top: 3px;
      padding-left: 10px;
      display: inline-block;
      color: #666;

    }

    &#go_hike i {
      background-position: 0 1px;
    }
    &#go_mountain i {
      background-position: 0 -32px;
    }
    &#go_lake i {
      background-position: 0 -63px;
    }
    &#go_events i {
      background-position: 0 -160px;
    }
    &#go_castle i {
      background-position: 0 -92px;
    }
    &#go_city i {
      background-position: 0 -125px;
    }
    &#go_landscape i {
      background-position: 0 -198px;
    }

    &#by_car i {
      background-position: 0 -238px;
    }
    &#by_bike i {
      background-position: 0 -276px;
    }
    &#by_train i {
      background-position: 0 -316px;
    }
    &#by_bus i {
      background-position: 0 -356px;
    }

    &.styled-on {
      border-radius: 5px;
        position: relative;
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;

      i + span {
        color: #111;
      }

      &:before {
        @extend .icons;
        background: rgba(255, 255, 255, 0.8);
        top: 9px;
        position: absolute;
        content: "\e00b";
        color: #ccc;
        font-size: 8px;
        display: block;
        width: 18px;
        height: 18px;
        left: -19px;
        border-radius: 50%;
        padding: 5px;
      }

      &#go_hike {
        /* background: $hike_rgba; */
        &:before {
          /* background: $hike; */
        }
        i { background-position: -25px 1px; }
      }
      &#go_mountain {
        /* background: $mountain_rgba; */
        &:before {
          /* background: $mountain; */
        }
        i { background-position: -25px -32px; }
      }
      &#go_lake {
        /* background: $lakes_rgba; */
        &:before {
          /* background: $lakes; */
        }
        i { background-position: -25px -63px; }
      }
      &#go_events {
        /* background: $festivals_rgba; */
        &:before {
          /* background: $festivals; */
        }
        i { background-position: -25px -160px; }
      }
      &#go_castle {
        /* background: $castles_rgba; */
        &:before {
          /* background: $castles; */
        }
        i { background-position: -25px -92px; }
      }
      &#go_city {
        /* background: $cities_rgba; */
        &:before {
          /* background: $cities; */
        }
        i { background-position: -25px -125px; }
      }
      &#go_landscape {
        /* background: $sightseeing_rgba; */
        &:before {
          /* background: $sightseeing; */
        }
        i { background-position: -25px -198px; }
      }

      &#by_car i {
        background-position: -25px -238px;
      }
      &#by_bike i {
        background-position: -25px -276px;
      }
      &#by_train i {
        background-position: -25px -316px;
      }
      &#by_bus i {
        background-position: -25px -356px;
      }

    }

  }
}