@import "constants";

.search-results {
  padding-top: 5px;

  h1 {
    font-size: 11px;
    color: $titleGrey;
    padding: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 24px;
  }
  .head {
    padding: 15px 0;
  }
  .content-col {
    .head {
      padding-bottom: 15px;
      position: relative;
    }
    .title {
      color: #b8b8b8;
    }
  }

}
.filter-col {
  width: 190px;
  padding: 0 15px 0 0;
  margin-bottom: 20px;

  .head {
    padding-bottom: 15px;
  }

  &.horizontal-filter-col {
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    background: white;
    @include border-radius(3px);
    @include box-shadow(0 1px 2px rgba(90, 90, 90, 0.1));
    margin-top: 0;
    &.sticked {
      @include border-radius(0 0 3px 3px);
    }

    .wi:before {
      font-size: 20px;
      padding-bottom: 0;
      vertical-align: middle;
      padding: 0;
      color: #7f8a96;
      width: 25px;
      display: inline-block;
    }
    .map {
      box-shadow: none;
      border: 0;
    }
    .iblock {
      vertical-align: middle;
    }
    .trip-categories {
      border-left: 1px dashed #ddd;
      width: 394px;
    }
    .itable {
      position: relative;
      padding: 0;
      vertical-align: middle;
      text-align: center;

      &.location-from {
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 20px;
      }
      &.distance-from {
        padding-left: 20px;
        padding-right: 20px;
      }
      .title {
        position: absolute;
        top: -20px;
        font-size: 14px;
        left: 50%;
        white-space: nowrap;
        border-radius: 5px;
        width: auto;
        text-align: center;
        background: #1abc9c;
        display: none;
        padding: 3px 15px;
        color: white;
        line-height: 1;
        margin-left: -51px;
      }
      &:hover {
        .title {
          display: block;
        }
      }

      .distance-km {
        @extend .trip-sprite;
        background-position: -116px -48px;
        @include opacity(0.5);
      }

    }
    .trip-type{
      label {
        &#go_hike {
          i {
            background-position: 0 1px;
          }
        }
      }
    }
    #distance-slider {
      width: 120px;
      margin: 0 10px;
      .ui-widget-header {
        background: #f7fafc;
      }
    }
    #distance-filter {
      min-width: 25px;
      text-align: right;
    }
    .trip-type {
      label.styled-on {
        background-color: rgba(158, 243, 226, 0.2) !important;

        &:before {
          text-align: center;
          line-height: 18px;
          padding: 0;
          top: 5px;
          left: auto;
          right: 5px;
        }
      }
    }

    .box {
      padding: 0;
      display: table;
      margin: 0;
      border-spacing: 0;
      width: 100%;
    }

    .submit-go{
      &.rsmaller{
        &.faded {
          width: auto;
        }
      }
    }

    .styled {
      display: inline-block;
      margin: 0;
      padding: 20px;
      @include border-radius(0);
      span {
        display: none;
      }

    }
  } /* Horizontal col */

  .leftcol-break {
    position: relative;
    margin: 0 0 15px;
    padding: 0 15px 0 0;

    .box-content {
      padding-bottom: 15px;
      &.location-from {
         margin-bottom: 15px;
        padding-bottom: 0;
      }
    }
  }
/*
  .addSugg {
    span {
      margin: 5px 2px 0 0;
      text-align: center;
    }

    .add-new {
      margin: 9px 0 0;
      display:  block;
    }
    .new-dest {
      margin: 0;
      left: 0;

      input {
        width: 105px;
      }
      .fui-plus:before {
        padding: 0;
      }
    }
  }
  */
  .trip-refine {
    .trip-type {
      padding-bottom: 5px;
    }
  }

}

.featured-trip {
  .trip-image {
    height: 325px;
    display: block;
    position: relative;
    z-index: 90;

    span {
      color: $linkOnBlackHover;
      font-size: $featTitleSize;
      font-weight: 700;
      padding: 15px;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(65, 68, 78, 0.65);
    }

  }
  .desc {
    width: 615px;
    border-right: 1px solid #efefef;
    padding-right: 15px;
  }
  .stand-by {
    margin-left: 635px;
  }
}

.trip-list-block {
  position: relative;
  padding: 0;
  margin: -8px -24px 0 0;
  height: auto;
}

.trip-type {
  label {
    display: block;
    font-weight: 300;
    padding: 7px 0;
    margin: 0 0 4px;

    > i {
      @extend .trip-sprite;
      @include opacity(0.6);
    }
    i + span {
      vertical-align: middle;
      padding-top: 3px;
      padding-left: 10px;
      display: inline-block;
      color: #666;
      font-size: 14px;
    }

    &#go_hike i {
      background-position: 0 3px;
    }
    &#go_mountain i {
      background-position: 0 -24px;
    }
    &#go_lake i {
      background-position: 0 -46px;
    }
    &#go_culture i {
      background-position: 0 -91px;
    }
    &#go_castle i {
      background-position: 0 -68px;
    }
    &#go_city i {
      background-position: 0 -115px;
    }
    &#go_landscape i {
      background-position: 0 -193px;
    }

    &#by_car i {
      background-position: -46px 2px;
    }
    &#by_bike i {
      background-position: -46px -22px;
    }
    &#by_train i {
      background-position: 0 -307px;
    }
    &#by_bus i {
      background-position: 0 -347px;
    }

    &.disabled {
      @include opacity(0.4);
    }

    &.styled-on {
      @include border-radius(5px);
      position: relative;
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;

      i + span {
        color: #111;
        font-size: 14px;
      }

      &:before {
        font-family: FontAwesome;
        /* background: rgba(0, 0, 0, 0.2); */
        background: #47D9BF /* #2ECC71 */;
        top: 9px;
        position: absolute;
        content: $fa-var-check;
        color: #fff;
        font-size: 8px;
        display: block;
        width: 18px;
        height: 18px;
        left: -13px;
        @include border-radius(50%);
        padding: 5px;

      }

      &:hover:before {
        content: $fa-var-times;
      }
      i {
        @include opacity(1);
      }

    }

  }
}

/* Slider */
#distance-slider {
  margin-bottom: 15px;
  margin-top: 10px;
  height: 5px;
  position: relative;
}
.ui-widget-content {
  background: #BDCCDB;
  border: 0;

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: 0;
  }

  .ui-widget-header {
    @include border-radius(0px);
    background: #fff;
  }

  .ui-slider-handle {
    @include border-radius(50%);
    padding: 0;
    background: #2c3e50;
    text-align: center;
    margin-top: -1px;
    outline: none;
    margin-left: -14px;
    text-decoration: none;
    font-size: 12px;
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: -4px;
  }
}
.distance-filter {
  border: 0;
  color: #666;
  background: transparent;
}

